@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: poppins; }

body {
  margin: 0;
  padding: 0; }

.accordion-body {
  display: flex;
  flex-direction: column;
  gap: 8px; }
  .accordion-body p {
    color: gray; }
  .accordion-body p:hover {
    color: black; }

.icons {
  position: relative;
  left: 20px;
  top: 35px;
  font-size: 30px;
  display: flex;
  gap: 15px; }

.after-icons {
  display: flex;
  position: relative;
  font-family: poppins, sans-serif; }
  .after-icons p:hover {
    text-decoration: underline; }

.last-sentence {
  position: relative;
  top: 75px;
  left: 20px; }
  .last-sentence p {
    color: gray;
    font-family: poppins, sans-serif;
    font-size: 13px; }
  .last-sentence div {
    height: 30px; }
  .last-sentence .after-icons {
    flex-direction: column;
    font-size: 14px;
    top: 65px;
    left: 20px;
    gap: 12px; }

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  border-bottom: 0.5px solid lightgray; }

.create-account {
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  position: relative;
  top: 20px; }

.base-part {
  padding: 20px 0px 0px 0px;
  height: 450px;
  padding-top: 0px;
  position: relative;
  top: 10px;
  width: 550px;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .base-part .required-part {
    font-family: poppins,sans-serif;
    font-size: 14px;
    position: relative;
    left: -140px;
    top: 10px; }
  .base-part .input {
    position: relative;
    width: 420px;
    height: 45px;
    border-radius: 12px;
    left: -12px; }
  .base-part .checkbox-line {
    display: flex;
    position: relative;
    left: -120px;
    gap: 10px; }
    .base-part .checkbox-line .checkbox {
      height: 25px;
      width: 25px;
      border-radius: 25px; }
    .base-part .checkbox-line .keep-signed {
      font-family: poppins,sans-serif;
      font-size: 13px; }
      .base-part .checkbox-line .keep-signed a {
        text-decoration: underline;
        color: darkgreen; }
        .base-part .checkbox-line .keep-signed a:hover {
          text-decoration: none;
          color: darkgreen; }
    .base-part .checkbox-line input:checked {
      background-color: green; }
  .base-part .forgot {
    position: relative;
    bottom: 20px;
    text-decoration: underline;
    color: darkgreen;
    font-family: poppins, sans-serif;
    font-size: 13px;
    position: relative;
    left: -147px; }
    .base-part .forgot:hover {
      text-decoration: none; }
  .base-part #forgot-2 {
    position: relative;
    bottom: 40px; }
  .base-part button {
    background-color: darkgreen;
    color: white;
    font-family: poppins, sans-serif;
    border-radius: 30px;
    border-color: transparent;
    height: 57px;
    width: 105px;
    font-size: 18px;
    position: relative;
    left: 150px;
    bottom: 25px; }

::placeholder {
  position: relative;
  left: 12px;
  color: black;
  font-family: poppins, sans-serif;
  font-size: 14px; }

.joining-part {
  width: 400px;
  position: relative;
  top: 20px;
  text-align: center; }
  .joining-part .join-starbucks-rewards {
    color: darkgreen;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-size: 14px; }
  .joining-part .long-p {
    font-family: poppins, sans-serif;
    font-size: 14px; }
  .joining-part button {
    border: 1px solid darkgreen;
    border-radius: 25px;
    color: darkgreen;
    background-color: transparent;
    font-family: poppins, sans-serif;
    font-size: 14px;
    height: 35px;
    width: 90px; }

@media screen and (max-width: 768px) {
  header {
    height: 70px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center; }
  .first-green-icon-img {
    position: relative;
    left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%; }
  .after-icons {
    flex-direction: column;
    font-size: 14px;
    top: 65px;
    left: 20px;
    gap: 12px; } }

@media screen and (min-width: 769px) {
  .first-green-icon-img {
    position: relative;
    height: 50px;
    width: 50px;
    left: 20px; }
  header {
    height: 90px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center; }
  .accordion {
    font-size: 17px; }
    .accordion button {
      font-size: 20px;
      position: relative; }
  .after-icons {
    font-size: 16px;
    gap: 20px;
    top: 65px;
    left: 20px; }
    .after-icons p {
      border-right: 2px solid black;
      padding-right: 18px; }
    .after-icons #last-p {
      border-color: transparent; }
  .create-account {
    font-size: 25px; }
  .base-part {
    top: 50px;
    border: 1px solid lightgray;
    border-radius: 14px; }
    .base-part .required-part {
      font-size: 17px;
      left: -137px; }
    .base-part .input {
      width: 450px;
      height: 55px; }
    .base-part .checkbox-line {
      left: -112px; }
      .base-part .checkbox-line .keep-signed {
        font-size: 16px; }
    .base-part .forgot {
      font-size: 16px;
      left: -142px; }
    .base-part button {
      left: 161px; }
  ::placeholder {
    font-size: 18px; }
  .joining-part {
    top: 120px; }
    .joining-part .join-starbucks-rewards {
      font-size: 16px; }
    .joining-part .long-p {
      font-size: 16px; }
    .joining-part button {
      height: 40px;
      width: 100px;
      font-size: 16px; }
  .body {
    height: 980px; } }
