@font-face {
    font-family: poppins;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  }
body{
    margin: 0;
    padding: 0;
}
.accordion-body{
    z-index: 200;
    display: flex;
    flex-direction: column;
    gap: 8px;
    p{
        color: gray;
    }

    p:hover{
        color: black;
    }
    background-color: white;
}
.icons{
    position: relative;
    left: 20px;
    top: 35px;
    font-size: 30px;
    display: flex;
    gap: 15px;
}
.after-icons{
    display: flex;
    position: relative;
    font-family: poppins, sans-serif;
    p:hover{
        text-decoration: underline;
    }
}
.last-sentence{
    position: relative;
    top: 75px;
    left: 20px;
    p{
        color: gray;
        font-family: poppins, sans-serif;
        font-size: 13px;
    }
    div{
        height: 30px;
    }
}
.hovergreenLocation:hover{
    color: green;
}
header nav{
    display: none;
}
.first-green-icon-img{
    position: relative;
    left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.header-bar{
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
#header-button-sign-in{
    border: 1px solid black;
    border-radius: 25px;
    height: 35px;
    width: 90px;
    font-weight: bold;
    background-color: transparent;
}
#header-button-join-now{
    border: 1px solid black;
    border-radius: 25px;
    height: 35px;
    width: 90px;
    font-weight: bold;
    color: white;
    background-color: black;
}
#header-button-find-a-store{
    border-color: transparent;
    background-color: transparent;
    font-size: 20px;

}
.header-lists-desktop{
    display: none;
    font-weight: bold;
    display: flex;
    gap: 25px;
}
.header-buttons-desktop{
    display: none;
}
.menu {
    display: none;
    min-width: 450px;
    height: 100vh;
  }
hr{
    display: none;
}
.first-bar{
    z-index: 8;
    position: sticky;
    top: 0;
    width: 100%;
    p{
        position: relative;
        top: 8px;
        color: white;
        font-family: poppins,sans-serif;
        font-size: 15px;
    }
    height: 50px;
    background-color: rgb(1, 49, 1);
    display: flex;
    align-items: center;
    button{
        display: none;
    }
}
.star{
    top: 0;
    display: flex;
    align-items: flex-end;
    .mobile-star{
        display: none;
    }
    .desktop-star{
        display: none;
    }
    .star-texts{
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .free-coffee{
            font-family: poppins,sans-serif;
            font-weight: 550;
            font-size: 28px;
        }
        .earning-rewards{
            font-family: poppins,sans-serif;
        }
        .star-button{
            width: 100px;
            font-size: 14px;
            background-color: green;
            color: white;
            border-radius: 25px;
            border-color: transparent;
            font-family: poppins,sans-serif;
            &:hover{
                background-color: rgb(7, 173, 7);
            }
        }
        .join-in-app{
            font-family: poppins,sans-serif;
            a{
                text-decoration: underline;
            }
            a:hover{
                text-decoration: none;
            }
        }
    }
}
.body{
    font-family: poppins, sans-serif;
}
.getting-started{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 180px;
    .bold-span{
        position: relative;
        top: 10px;
        font-weight: 600;
        font-size: 23px;
    }
    .normal-span{
        position: relative;
        top: 10px;
        font-size: 14px;
    }
}
.columns{
    .number{
        height: 48px;
        width: 48px;
        border: 1.5px solid darkgreen;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        span{
            color: darkgreen;
            font-weight: 600;
            font-size: 23px;
        }
    }
}
.endless-extras{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 70px 20px 30px 20px;
    span{
        font-weight: 500;
        font-size: 22px;
    }
    p{
        font-size: 13px;
    }
}
.columns2{
    .image{
        border-radius: 50%;
        height: 110px;
        width: 110px;
    }
}

@media screen and (max-width: 768px){
    header{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .location-link-class span{
        font-size: 15px;
        font-weight: bold;
    }
    .location-link-class{
        text-decoration: none;
    }
    .location-2-header{
        display: flex;
        gap: 10px;
    }
    hr{
        color: lightgray;
        min-width: 367px;
        display: block;
    }
    .header-buttons{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        top: 20px;
        left: 30px;
    }
    .hamburger {
        position: relative;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin: 10px;
      }     
      .bar {
        width: 30px;
        height: 3px;
        background-color: gray;
        margin: 2px 0;
        border-radius: 5px;
      }     
      .menu.active {
        display: block;
      }     
      .menu ul {
        list-style: none;
        padding: 0;
      }     
      .menu ul li {
        margin-bottom: 10px;
        position: relative;
        left: 40px;
      }   
      .menu ul li a {
        text-decoration: none;
        color: #000;
        font-size: 20px;
      }
      .header-lists{
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
      }
      .header-lists-desktop{
        display: none;
      }
      .hovercolorgray:hover{
        background-color: gray;
    }
    .after-icons{
        flex-direction: column;
        font-size: 14px;
        top: 65px;
        left: 20px;
        gap: 12px;
    }
    .first-bar{
        justify-content: space-between;
        align-items: center;
        p{
            left: 20px;
        }
        button{
            position: relative;
            height: 30px;
            display: block;
            border:1px solid white;
            color: white;
            background-color: transparent;
            border-radius: 25px;
            font-family: poppins,sans-serif;
            font-size: 14px;
            right: 20px;
        }
    }
    .star{
        min-height: 700px;
        justify-content: space-between;
        .mobile-star{
            display: block;
            max-height: 350px;
        }
        display: flex;
        flex-direction: column;
        .star-texts{
            position: relative;
            top: 30px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .free-coffee{
                width: 250px;
                text-align: center;
            }
        }
    }
    .columns{
        margin-right: 30px;
        margin-bottom: 65px;
        display: flex;
        flex-direction: column;
        gap: 35px;
        position: relative;
        left: 20px;
        .numberAndSpans{
            display: flex;
            gap: 20px;
            .number{
                padding-right: 20px;
                padding-left: 20px;
            }
            .two{
                padding-right: 20px;
                padding-left: 20px;
            }
            .three{
                padding-right: 20px;
                padding-left: 20px;
            }
            .spans{
                display: flex;
                flex-direction: column;
                gap: 15px;
                .span1{
                    font-weight: 500;
                }
                .span2{
                    font-size: 13px;
                    a{
                        color: darkgreen;
                        text-decoration: underline;
                    }
                    a:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .columns2{
        padding: 0 15px 80px 15px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        .imgAndSpans{
            display: flex;
            gap: 17px;
            .spans{
                display: flex;
                flex-direction: column;
                gap: 17px;
                .bold-span{
                    font-weight: 500;
                    font-size: 15px;
                }
                .normal-span{
                    font-size: 13px;
                }
                a{
                    font-size: 13px;
                    color: darkgreen;
                    text-decoration: underline;
                }
                a:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (min-width: 769px){
    .header-lists-desktop{
        display: block;
        display: flex;
        gap: 20px;
        list-style: none;
        li{
            a{
                text-decoration: none;
                color: black;
            }
        }
    }  
    .header-buttons-desktop{
        display: block;
        position: relative;
        right: 20px;
    }
    .header-bar-desktop-left{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .header-bar{
        height: 90px;
        width: 100%;
    }
    .first-green-icon-img{
        height: 50px;
        width: 50px;
    }
    #header-button-find-a-store{
        position: relative;
        left: -15px;
    }
    .fa-location-dot{
        position: relative;
        left: -10px;
    }
    .hoveryellow:hover{
        color: green;
    }
    .hamburger{
        display: none;
    }
    .accordion{
        button{
            font-size: 20px;
            position: relative;
        }
        font-size: 17px;
    }
    .after-icons{
        font-size: 16px;
        gap: 20px;
        top: 65px;
        left: 20px;
        p{
            border-right:2px solid black;
            padding-right:18px;
        }

        #last-p{
            border-color: transparent;
        }
    }
    .yellow-2{
        border-bottom: 7px solid green;
        padding-bottom: 29px;
    }
    .first-bar{
        p{
            position: relative;
            left: 100px;
        }
    }
    .desktop-star{
        display: block;
    }
    .star{
        justify-content:space-between;
        .desktop-star{
            display: block;
        }
        align-items: center;
        .star-texts{
            position: relative;
            left: 20px;
            gap: 5px;
            .free-coffee{
                font-size: 33px;
                width: 245px;
            }
            .earning-rewards{
                font-size: 18px;
            }
            .star-button{
                height: 35px;
                font-size: 15px;
            }
            .join-in-app{
                font-size: 18px;
                position: relative;
                top: 10px;
            }
        }
    }
    .getting-started{
        height: 240px;
        .bold-span{
            top: 25px;
            font-size: 26px;
        }
        .normal-span{
            top: 25px;
            font-size: 17px;
        }
    }
    .columns{
        position: relative;
        left: 40px;
        margin-left: 90px;
        margin-right: 90px;
        margin-bottom: 130px;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 40px;
        .numberAndSpans{
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .spans{
                display: flex;
                flex-direction: column;
                gap: 20px;
                text-align: center;
                min-width: 200px;
                .span1{
                    font-weight: 500;
                    font-size: 17px;
                }
                .span2{
                    font-size: 15px;
                    a{
                        color: darkgreen;
                        text-decoration: underline;
                    }
                    a:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .endless-extras{
        padding: 130px 40px 40px 40px;
        span{
            font-size: 28px;
        }
        p{
            font-size: 15px;
            width: 650px;
        }
    }
    .columns2{
        padding: 0 50px 150px 50px;
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 30px;
        .imgAndSpans{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .spans{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .bold-span{
                    font-weight: 500;
                    font-size: 18px;
                }
                .normal-span{
                    font-size: 15px;
                }
                a{
                    font-size: 15px;
                    color: darkgreen;
                    text-decoration: underline;
                }
                a:hover{
                    text-decoration: none;
                }
            }
        }
    }
}
